---
id: "root"
---

<html>
  <head>
    <script src="src/index.js" type="module"></script>
  </head>
  <body>
    <h1>Тест</h1>
    <p>Ветка "main"</p>
    <p>Проверка шаблонизатор и JS: <span id="{{ id }}"></span></p> <span id="{{ id }}"></span>
  </body>
</html>